<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-input [(ngModel)]="Name" placeholder="Name"></ion-input>
  <ion-input [(ngModel)]="Type" placeholder="Type"></ion-input>
  <ion-input [(ngModel)]="EmpName" placeholder="EmpName"></ion-input>
  
  <button ion-button full (click)="getData()">Get the Data </button>
  <button ion-button full (click)="postData()"> Post the Data </button>
  <ion-input [(ngModel)]="toBeDeleted" placeholder="To Be Deleted"></ion-input>
  <button ion-button full (click)="removeData(toBeDeleted)">Delete the Data </button>

  <ion-list>
    <ion-item *ngFor="let item of data">
      <h1>{{item.Name}}</h1>
      <h2>{{item.type}}</h2>
      <p>No. of Employee : {{item.employ.length}}</p>
      <p *ngFor="let ite of item.employ">{{ite.Name}}</p>
    </ion-item>
  </ion-list>
</ion-content>
